webservice/src/main/xsd/orders.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://viko.lt/order-service/schema"
           xmlns:tns="http://viko.lt/order-service/schema"
           elementFormDefault="qualified">

    <xs:element name="order" type="tns:order"/>

    <xs:element name="getAllOrdersRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getAllOrdersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="orders" type="tns:order" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="order">
        <xs:sequence>
            <xs:element name="orderNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>